# ========== MongoDB ==========
MONGO_USER=your_db_user
MONGO_PASSWORD=your_db_password
MONGO_DB=your_db_name
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_URI=mongodb://your_db_user:your_db_password@mongo:27017/your_db_name?authSource=admin

# ========== Server ==========
PORT=3000
NODE_ENV=production

# ========== Tilda API ==========
TILDA_PUBLIC_KEY=your_public_key
TILDA_SECRET_KEY=your_secret_key
TILDA_PROJECT_ID=0000000
TILDA_FEED_UID=0000000000000

# ========== Site ==========
SITE_URL=https://your-site.ru